/* CSS declarations go here */
.fa-bomb {
	color: #C93C3C;
}

.spinner-holder {
	position:absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 300px;
	transform: translate(-150px, -150px);
}

.fa-bomb.spinner {
  font-size: 200px;
  text-align: center;
  width: 100%;
  animation: fa-bomb 1s infinite linear;
}

@keyframes fa-bomb {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.jumbotron {
	font-family: 'Gloria Hallelujah', cursive;
}

.Terrorists {
	background-color: #B33E3E;
	color: #fff;
}

.Counter-Terrorists {
	background-color: #43B1FA;
	color: #fff;
}

.Individual {
	background-color: #40C267;
	color: #fff;
}

.card {
	min-height: 500px;
	margin-bottom: 20px;
	border-radius: 30px;
}

.spacer {
	margin-top: 50px;
}

.scroll-x {
	overflow-x: auto;
}

.new-game-button {
	margin-top: 10%;
	background-color: steelblue;
	height: 50px;
	font-size: 32px;
	color:#fff;
}

.leave-game-button, .start-game-button {
	height: 50px;
}

.lobby .start-game-button {
	background-color: #43B1FA;
	color: #fff;
}

.lobby .leave-game-button {
	background-color: #B33E3E;
	color: #fff;
}

.show-cards-button, .show-game-address-button {
	background-color: inherit;
	color: steelblue;
	border: none;
	cursor: pointer;
}

.fa.fa-mobile {
	font-size: 24px;
	vertical-align: middle;
}

.timer {
	font-size: 24px;
	color: #495357;
}

.timer .glyphicon:hover {
	color: steelblue;
}

.time {
	font-family: 'Exo', sans-serif;
}

.spacer {
	height: 1px;
}

.margin-bottom {
	margin-bottom: 20px;
}

.instructions {
	font-family: 'Gloria Hallelujah', cursive;
}

.width-100 {
	width: 100%;
}